dist
node_modules
build
renderer
webminidisc
WebMDPro
DeskMDPro.code-workspace

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
renderer_bad
renderer_save
build_bad
build_save